.legend {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.legend-content h2 {
  margin-top: 0;
  font-size: 20px;
}

.legend-content p {
  margin-bottom: 0;
  white-space: pre-wrap; /* Allow long text to wrap to the next line */
}